{% extends 'base/base.html' %}

<h2> ОПЕРАТОРЫ ПРИСВОЕНИЯ PYTHON </h2>
Операторы используются для выполнения операций со значениями и переменными. 
Это специальные символы, которые выполняют арифметические, логические, побитовые вычисления. 
Значение, с которым работает оператор, известно как операнд.

Здесь мы рассмотрим операторы присваивания в Python.
 Итак, операторы присваивания используются для присвоения значений переменным.

 <h2> ОПЕРАТОРЫ, ОПИСАНИЯ И СИНТАКСЫ </h2>
 Оператор: "="        Описание: "Присваевает заданное значение"    Синтакс = "a = b + c"
 Оператор: "+="       Описание: "Добавляет и присваетвает"    Синтакс: "a += b"
Оператор: "-="        Описание: "Вычитает и присваевает"      Синтакс: "a -= b"
Оператор: "*="        Описание: "Помножает и присваевает"     Синтакс: "a *= b"
Оператор: "/="        Описание: "Делит и присваевает"         Синтакс: "a /= b"